.nerko {
  font-family: 'Nerko One', cursive;
}
.marker {
  font-family: 'Permanent Marker', cursive;
}
.rock {
  font-family: 'Rock Salt', cursive;
}
.nerk {
  font-family: 'Nerko One', cursive;
}
.marke {
  font-family: 'Permanent Marker', cursive;
}
.roc {
  font-family: 'Rock Salt', cursive;
}
.ner {
  font-family: 'Nerko One', cursive;
}
.mark {
  font-family: 'Permanent Marker', cursive;
}
.ro {
  font-family: 'Rock Salt', cursive;
}
.mar {
  font-family: 'Nerko One', cursive;
}
