.usuario {
  color: white;
  background-color: blue;
}
.accion {
  color: white;
  background-color: red;
}
.leyendas {
  color: green;
}
.checkbox {
  font-style: italic;
}
label {
  font-size: 2rem;
}
body {
  font-family: golman;
}
