body {
  background-color: #E3CD10;
  font-size: 12px;
  font-family:'Times New Roman';
}
h1  {
  font-size: 5rem;
  text-decoration: underline;
  font-weight: bold;
}
.tabla {
    border: "1";
}
.lista  {
  line-height: 35px;
  list-style-type: square;
}

.formulario  {
  margin: 100px;
  border-color: green;
  width: 700px;
  height: 350px;
  background-color: orange;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 100px;

}
  @import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

.texto {
  font-family: 'Ballet', cursive;
  color: red;
  text-shadow: 12px 12px 14px blue;
}
.navegador  {
  background-color: orange;
  font-family: Impact;
  font-size: 1.5rem;

}
ul.listnav li {
  display: inline;

}
ul.listnav a {
  text-decoration: none;
  display: inline-block;
  padding: 2rem;
}
ul.listnav a:hover {
  background: orange;
}
ul.listnav a:active {
  color: white;
  background: red;
}
ul.listnav h1 {
  display: inline;
  font-size: 3rem;
  font-family: Norican;
  color: red;
  text-shadow: 6px 6px 10px red;
}
.nave {

  background-color: yellow;
  border-collapse: collapse;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 10px;
  margin: 10px;
}
