.nerko {
  color: black;
  font-size: 10px;
}
.marker {
  color: green;
  font-size: 10px;
}
.rock {
  color: blue;
  font-size: 10px;
}
.nerk {
  color: aqua;
  font-size: 10px;
}
.marke {
  color: yellow;
  font-size: 10px;
}
.roc {
  color: red;
  font-size: 10px;
}
.ner {
  color: orange;
  font-size: 10px;
}
.mark {
  color: brown;
    font-size: 10px;
}
.ro {
  color: magenta;
    font-size: 10px;
}
.mar {
  color: violet;
    font-size: 10px;
}
.ro {
  color: red;
  font-size: 10px;
}
.ne {
  color: orange;
  font-size: 10px;
}
.ma {
  color: brown;
    font-size: 10px;
}
.r {
  color: magenta;
    font-size: 10px;
}
.m {
  color: violet;
    font-size: 10px;
}
