.serif {
    font-family: "gill sans", geneva;
    color: blue;
}
.fantasy {
    font-family: "impact", calibri;
    color: green;
}
.ser {
    font-family: "helvetica", courier new;
    color: yellow;
}
.fan {
    font-family: "futura", vergana;
    color: red;
}
.seri {
  font-family: "avant garde", candara  ;
  color: orange;
}
.se {
  font-family: "cavernous", arial black;
  color: magenta;
}
