.a {
  text-align: left;
}
.b {
  text-align: left;
}
.c {
  text-align: right;
}
.d {
  text-align: right;
}
.e {
  text-align: center;
}
.f {
  text-align: center;
}
.g {
  text-align: justify;
}
.h {
  text-align: justify;
}
