.a {
  word-spacing: 10px;
  letter-spacing: 10px;
}
.b {
  word-spacing: 10px;
letter-spacing: 10px;
}
.c {
  word-spacing: 5px;
letter-spacing: 5px;
}
.d {
  word-spacing: 5px;
letter-spacing: 5px;
}
