html {
  font-family: sans-serif;
}
body {
   margin: 0;
}
header {
  background: purple;
  height: 75px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 75px;
  margin: 0;
}
article {
  padding: 1%;
  margin: 1%;
  background: aqua;
}
